<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test Automation Home</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'js/prettyCode/prettify.css' %}" rel="stylesheet" type="text/css">
</head>

<body onload="prettyPrint()">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Test Automation</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url  "user:logout" %}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{% url "home" %}"><i class="fa fa-dashboard fa-fw"></i> 看板</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 产品<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url "product:info" %}">产品一览</a>
                            </li>
                            <li>
                                {#                                TODO 增加产品管理相关功能#}
                                <a href="#">产品管理</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{% url "product:info" %}"><i class="fa fa-table fa-fw"></i> 产品</a>
                    </li>
                    <li>
                        <a href="./pages/forms.html"><i class="fa fa-edit fa-fw"></i> 测试用例</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> 执行<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="pages/product/detail.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="./pages/buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="./pages/notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="./pages/typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="./pages/icons.html"> Icons</a>
                            </li>
                            <li>
                                <a href="./pages/grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="./pages/blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">测试用例</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="fa fa-list"></span>
                        用例列表
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="panel-group" id="listPanel">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#listPanel" href="#dftGroup">默认分组</a>
                                    </h4>
                                </div>
                                <div id="dftGroup" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a class="list-group-item active">测试用例1</a>
                                            <a class="list-group-item">测试用例2</a>
                                            <a class="list-group-item">测试用例3</a>
                                            <a class="list-group-item">测试用例4</a>
                                            <a class="list-group-item">测试用例5</a>
                                            <a class="list-group-item">测试用例6</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#listPanel" href="#loginGroup">登录</a>
                                    </h4>
                                </div>
                                <div id="loginGroup" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a class="list-group-item active">测试用例1</a>
                                            <a class="list-group-item">测试用例2</a>
                                            <a class="list-group-item">测试用例3</a>
                                            <a class="list-group-item">测试用例4</a>
                                            <a class="list-group-item">测试用例5</a>
                                            <a class="list-group-item">测试用例6</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#listPanel"
                                           href="#collapseThree">核心功能</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a class="list-group-item active">测试用例1</a>
                                            <a class="list-group-item">测试用例2</a>
                                            <a class="list-group-item">测试用例3</a>
                                            <a class="list-group-item">测试用例4</a>
                                            <a class="list-group-item">测试用例5</a>
                                            <a class="list-group-item">测试用例6</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="fa fa-folder-open"></span>
                        用例信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#home" data-toggle="tab">用例信息</a>
                            </li>
                            <li>
                                <a href="#profile" data-toggle="tab">历史记录</a>
                            </li>
                            <li>
                                <a href="#messages" data-toggle="tab">脚本信息</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="profile">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-lg-12" id="divProductInfo">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <button class="btn btn-default btn-xs disabled">ID</button>
                                                <label class="header" style="margin-left: 10px;">测试用例1</label>
                                            </div>
                                            <div class="panel-body">
                                                <div id="statusAndDesc" class="row col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-1 text-left">
                                                            <button class="btn btn-success btn-xs disabled">可编辑</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row col-lg-12 text-left">
                                                    <hr/>
                                                    <div class="col-lg-12 text-left">
                                                        <label class="header">基本信息</label>
                                                    </div>
                                                    <div class="row col-lg-8 text-left">
                                                        <table class="table" style="margin-left: 30px;margin-top: 30px">
                                                            <tr>
                                                                <td class="col-lg-3">
																						<span class="fa fa-user"
                                                                                              style="margin-left: 30px;">&nbsp;&nbsp;由谁创建
																						</span>
                                                                </td>
                                                                <td class="col-lg-5">
                                                                    任宗毅
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
																						<span class="fa fa-calendar-times-o"
                                                                                              style="margin-left: 30px;">&nbsp;&nbsp;创建时间
																						</span>
                                                                </td>
                                                                <td>
                                                                    2018-9-13
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
																						<span class="fa fa-user"
                                                                                              style="margin-left: 30px;">&nbsp;&nbsp;最后编辑者
																						</span>
                                                                </td>
                                                                <td>任宗毅</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
																						<span class="fa fa-calendar-times-o"
                                                                                              style="margin-left: 30px;">&nbsp;&nbsp;编辑时间
																						</span>
                                                                </td>
                                                                <td>2018-9-13</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="messages">
                                <div class="row">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-12" id="divProductInfo">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <button class="btn btn-default btn-xs disabled">ID</button>
                                                    <label class="header" style="margin-left: 10px;">脚本1</label>
                                                </div>
                                                <div class="panel-body">
																	<pre class="prettyprint lang-python">
			or product in products:
            product_name = product.name
            product_create_time = product.createTime
            product_create_user = product.createUser
            product_incharge_user = product.inChargeUser
            product_status = product.status
            product_data = ProductData(product.id, name=product_name, create_user=user_dict.get(product_create_user),
                                       incharge_user=user_dict.get(product_incharge_user),
                                       create_time=str(product_create_time),
                                       status=status_dict.get(product_status), manager=product.manager,
                                       desc=product.desc)
            data_list.append(product_data)
        else:
            return render(request, "pages/product/productList.html", {"products": data_list})
																	</pre>
                                                </div>
                                                <div class="panel-footer">
                                                    End
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in active" id="home">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-lg-12">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                测试用例详细信息
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="panel-group" id="casePanel">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#casePanel"
                                                                       href="#preCondition">前置条件</a>
                                                                </h4>
                                                            </div>
                                                            <div id="preCondition" class="panel-collapse collapse in">
                                                                <div class="panel-body">
                                                                    <div class="input-group list-group">
                                                                        <input type="text" class="form-control"
                                                                               value="这是一个前置条件!" disabled/>
                                                                        <span class="input-group-addon btn btn-danger">编辑</span>
                                                                    </div>
                                                                    <div class="input-group list-group">
                                                                        <input type="text" class="form-control"
                                                                               value="这是一个前置条件!" disabled/>
                                                                        <span class="input-group-addon btn btn-danger">编辑</span>
                                                                    </div>
                                                                    <div class="input-group list-group">
                                                                        <input type="text" class="form-control"
                                                                               value="这是一个前置条件!" disabled/>
                                                                        <span class="input-group-addon btn btn-danger">编辑</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#casePanel"
                                                                       href="#steps">测试步骤</a>
                                                                </h4>
                                                            </div>
                                                            <div id="steps" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <table class="table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>测试步骤
                                                                            </th>
                                                                            <th>期望结果
                                                                            </th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           value="步骤1" disabled/>
                                                                                    <span class="input-group-addon btn btn-danger">编辑</span>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           value="期望结果1!" disabled/>
                                                                                    <span class="input-group-addon btn btn-danger">编辑</span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           value="步骤2" disabled/>
                                                                                    <span class="input-group-addon btn btn-danger">编辑</span>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           value="期望结果2!" disabled/>
                                                                                    <span class="input-group-addon btn btn-danger">编辑</span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           value="步骤2" disabled/>
                                                                                    <span class="input-group-addon btn btn-danger">编辑</span>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           value="期望结果2!" disabled/>
                                                                                    <span class="input-group-addon btn btn-danger">编辑</span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/custom.min.js' %}"></script>

<script src="{% static 'js/prettyCode/run_prettify.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {


    });


</script>

</body>

</html>
