<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test Automation</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Test Automation</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url  "user:logout" %}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{% url "home" %}"><i class="fa fa-dashboard fa-fw"></i> 看板</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 产品<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url "product:info" %}">产品一览</a>
                            </li>
                            <li>
                                {#                                TODO 增加产品管理相关功能#}
                                <a href="#">产品管理</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{% url "product:info" %}"><i class="fa fa-table fa-fw"></i> 产品</a>
                    </li>
                    <li>
                        <a href="./pages/forms.html"><i class="fa fa-edit fa-fw"></i> 测试用例</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> 执行<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="pages/product/detail.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="./pages/buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="./pages/notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="./pages/typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="./pages/icons.html"> Icons</a>
                            </li>
                            <li>
                                <a href="./pages/grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="./pages/blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">导入测试用例</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        从XML文件导入测试用例
                    </div>
                    <div class="panel-body">

                        <div class="alert alert-info">
                            <P>从XML文件中导入测试用例到系统，请下载相应的Excel文件编辑测试用例后，生成XML文件</P>
                            <P>请注意，一定要将XML文件的编码格式保存为UTF-8</P>
                            <P>EXCEL文件下载为
                                <a href="#">点击这里</a>
                            </P>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <form role="form">

                                    <p class="info">
                                        <label>添加者</label>
                                        <span style="margin-left: 15px;">{{ user }}</span>
                                    </p>

                                    <div class="form-group">
                                        <label>请选择产品</label>
                                        <select class="form-control" id="products">

                                            {% for product in products %}
                                                <option>{{ product }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label>请选择文件</label>
                                        <input type="file" style="display: none;" id="leFile">
                                        <div class="input-group">
                                            <input id="photoCover" class="form-control" type="text"
                                                   style="height:30px;">
                                            <span class="input-group-addon">
													<a href="#" id="caseFile" onclick="$('input[id=leFile]').click();">Browse</a>
												</span>

                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-default">提交</button>

                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-8" id="divProductInfo">

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <button class="btn btn-default btn-xs disabled"
                                                id="p_id">{{ relatedData.pid }}</button>
                                        <label class="header" style="margin-left: 10px;"
                                               id="p_name">{{ relatedData.name }}</label>
                                    </div>
                                    <div class="panel-body">
                                        <div id="statusAndDesc" class="row col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-1 text-left">
                                                    <button class="btn btn-warning btn-xs disabled"
                                                            id="p_status">未获取
                                                    </button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 text-left" style="margin-top: 10px;">
										<span class="info" id="pDesc">
											{{ relatedData.desc }}
										</span>

                                                </div>


                                            </div>
                                        </div>

                                        <div class="row col-lg-12">
                                            <hr/>
                                                <label class="header">负责人</label>
                                            </div>
                                        <div class="row col-lg-8 text-left" style="margin-top: 20px;">

                                            <table class="table  table-hover" style="margin-left: 50px">
                                                <tr>
                                                    <td class="col-lg-3">
                                                <span class="fa fa-user"
                                                      style="margin-left: 30px;">&nbsp;&nbsp;产品负责人</span>
                                                    </td>
                                                    <td class="col-lg-5">
                                                            <span style="margin-left: 20px;"
                                                                  id="p_manager">{{ relatedData.manager }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                            <span class="fa fa-calendar-times-o"
                                                                  style="margin-left: 30px;">&nbsp;&nbsp;测试负责人</span>
                                                    </td>
                                                    <td>
                                                        <span style="margin-left: 25px;">{{ relatedData.incharge_user }}</span>
                                                    </td>
                                                </tr>
                                            </table>


                                        </div>
                                        <div class="row col-lg-12">
                                            <hr/>
                                                <label class="header">基本信息</label>
                                        </div>
                                        <div class="row col-lg-8 text-left" style="margin-top: 20px;">
                                            <table class="table  table-hover" style="margin-left: 50px">
                                                <tr>
                                                    <td class="col-lg-3">
                                                <span class="fa fa-user"
                                                      style="margin-left: 30px;">&nbsp;&nbsp;由谁创建</span>
                                                    </td>
                                                    <td class="col-lg-5">
                                                            <span style="margin-left: 20px;"
                                                                  id="p_create_user">{{ relatedData.create_user }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                            <span class="fa fa-calendar-times-o"
                                                                  style="margin-left: 30px;">&nbsp;&nbsp;创建时间</span>
                                                    </td>
                                                    <td>
                                                          <span style="margin-left: 20px;"
                                                                id="p_create_time">{{ relatedData.create_time }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                <span class="fa fa-warning"
                                                      style="margin-left: 30px;">&nbsp;&nbsp;访问控制</span>
                                                    </td>
                                                    <td>
                                                            <span style="margin-left: 20px;"
                                                                  id="p_privileges">{{ relatedData.privileges }}</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row col-lg-12">
                                            <hr/>
                                                <label class="header">其他信息</label>
                                                <div class="row col-lg-12 text-left" style="margin-top: 20px;">
                                                    <table class="table  table-hover" style="margin-left: 50px">
                                                        <tr>
                                                            <td class="col-lg-3">
                                                                <span class="fa fa-bar-chart-o"
                                                                      style="margin-left: 30px;">&nbsp;&nbsp;测试用例</span>
                                                            </td>
                                                            <td class="col-lg-5">
                                                                <span id="p_testcase_count">{{ relatedData.test_case_count }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                <span class="fa fa-tasks"
                                                      style="margin-left: 30px;">&nbsp;&nbsp;关联任务</span>
                                                            </td>
                                                            <td>
                                                                <span id="p_task_count">{{ relatedData.task_count }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/custom.min.js' %}"></script>

<script type="text/javascript">

    $('input[id=leFile]').change(function () {
        $('#photoCover').val($(this).val());
    });


    function changeStatus(status) {

        $("#p_status").html(status);
        if (String(status) === "完成") {
            $("#p_status").removeClass();
            $("#p_status").addClass("btn btn-success btn-xs disabled")

        }
        else if (String(status) === "正常") {
            $("#p_status").removeClass();
            $("#p_status").addClass("btn btn-success btn-xs disabled");
        }
        else {
            $("#p_status").removeClass();
            $("#p_status").addClass("btn btn-warning btn-xs disabled");
        }


    }


    $(document).ready(function () {
        changeStatus("{{ relatedData.status }}")
    });


    $("#products").change(function () {
        var productName = $(this).val();
        $.ajax({
                url: '{% url "product:detailForPost" %}',
                type: 'post',
                data: {'name': productName, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: "json",
                success: function (data) {
                    console.log(data);

                    {# 解析Json数据#}
                    var jsonObj = data;
                    console.log(jsonObj);
                    $("#p_id").html(jsonObj.pid);
                    $("#p_create_time").html(jsonObj.create_time);
                    $("#p_create_user").html(jsonObj.create_user);
                    $("#p_desc").html(jsonObj.desc);
                    $("#p_manager").html(jsonObj.manager);
                    $("#p_name").html(jsonObj.name);
                    $("#p_privileges").html(jsonObj.privileges);
                    $("#p_tester").html(jsonObj.inCharge_user);
                    $("#p_task_count").html(jsonObj.task_count);
                    $("#p_testcase_count").html(jsonObj.testcase_count);
                },
                error: function (data) {
                    console.log(data);
                }

            },
        )
    });


</script>


</body>

</html>
