# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/inspectionProfiles/
.idea/vcs.xml
.idea/workspace.xml
venv/bin/__pycache__/
venv/include/
venv/lib/python3.6/site-packages/django/__pycache__/
venv/lib/python3.6/site-packages/django/apps/__pycache__/
venv/lib/python3.6/site-packages/django/bin/__pycache__/
venv/lib/python3.6/site-packages/django/conf/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ar/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/az/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/bg/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/bn/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/bs/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ca/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/cs/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/cy/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/da/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/de/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/de_CH/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/el/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/en/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/en_AU/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/en_GB/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/eo/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/es/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/es_AR/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/es_CO/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/es_MX/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/es_NI/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/es_PR/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/et/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/eu/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/fa/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/fi/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/fr/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/fy/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ga/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/gd/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/gl/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/he/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/hi/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/hr/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/hu/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/id/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/is/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/it/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ja/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ka/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/km/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/kn/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ko/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/lt/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/lv/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/mk/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ml/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/mn/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/nb/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/nl/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/nn/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/pl/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/pt/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/pt_BR/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ro/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ru/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/sk/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/sl/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/sq/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/sr/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/sr_Latn/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/sv/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/ta/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/te/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/th/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/tr/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/uk/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/vi/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/zh_Hans/__pycache__/
venv/lib/python3.6/site-packages/django/conf/locale/zh_Hant/__pycache__/
venv/lib/python3.6/site-packages/django/conf/urls/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/admin/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/admin/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/admin/templatetags/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/admin/views/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/admindocs/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/auth/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/auth/handlers/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/auth/management/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/auth/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/auth/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/contenttypes/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/contenttypes/management/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/contenttypes/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/contenttypes/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/flatpages/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/flatpages/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/flatpages/templatetags/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/admin/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/__pycache__/
venv/lib/py
thon3.6/site-packages/django/contrib/gis/db/backends/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/backends/base/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/backends/mysql/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/backends/oracle/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/backends/postgis/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/backends/spatialite/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/models/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/db/models/sql/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/forms/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/gdal/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/gdal/prototypes/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/gdal/raster/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/geoip2/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/geos/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/geos/prototypes/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/serializers/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/sitemaps/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/gis/utils/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/humanize/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/humanize/templatetags/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/messages/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/messages/storage/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/postgres/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/postgres/aggregates/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/postgres/fields/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/postgres/forms/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/redirects/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/redirects/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sessions/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sessions/backends/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sessions/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sessions/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sitemaps/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sitemaps/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sites/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/sites/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/staticfiles/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/staticfiles/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/staticfiles/templatetags/__pycache__/
venv/lib/python3.6/site-packages/django/contrib/syndication/__pycache__/
venv/lib/python3.6/site-packages/django/core/__pycache__/
venv/lib/python3.6/site-packages/django/core/cache/__pycache__/
venv/lib/python3.6/site-packages/django/core/cache/backends/__pycache__/
venv/lib/python3.6/site-packages/django/core/checks/__pycache__/
venv/lib/python3.6/site-packages/django/core/checks/compatibility/__pycache__/
venv/lib/python3.6/site-packages/django/core/checks/security/__pycache__/
venv/lib/python3.6/site-packages/django/core/files/__pycache__/
venv/lib/python3.6/site-packages/django/core/handlers/__pycache__/
venv/lib/python3.6/site-packages/django/core/mail/__pycache__/
venv/lib/python3.6/site-packages/django/core/mail/backends/__pycache__/
venv/lib/python3.6/site-packages/django/core/management/__pycache__/
venv/lib/python3.6/site-packages/django/core/management/commands/__pycache__/
venv/lib/python3.6/site-packages/django/core/serializers/__pycache__/
venv/lib/python3.6/site-packages/django/core/servers/__pycache__/
venv/lib/python3.6/site-packages/django/db/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/base/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/dummy/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/mysql/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/oracle/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/postgresql/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/postgresql_psycopg2/__pycache__/
venv/lib/python3.6/site-packages/django/db/backends/sqlite3/__pycache__/
venv/lib/python3.6/site-packages/django/db/migrations/__pycache__/
venv/lib/python3.6/site-packages/django/db/migrations/operations/__pycache__/
venv/lib/python3.6/site-packages/django/db/models/__pycache__/
venv/lib/python3.6/site-packages/django/db/models/fields/__pycache__/
venv/lib/python3.6/site-packages/django/db/models/functions/__pycache__/
venv/lib/python3.6/site-packages/django/db/models/sql/__pycache__/
venv/lib/python3.6/site-packages/django/dispatch/__pycache__/
venv/lib/python3.6/site-packages/django/forms/__pycache__/
venv/lib/python3.6/site-packages/django/http/__pycache__/
venv/lib/python3.6/site-packages/django/middleware/__pycache__/
venv/lib/python3.6/site-packages/django/template/__pycache__/
venv/lib/python3.6/site-packages/django/template/backends/__pycache__/
venv/lib/python3.6/site-packages/django/template/loaders/__pycache__/
venv/lib/python3.6/site-packages/django/templatetags/__pycache__/
venv/lib/python3.6/site-packages/django/test/__pycache__/
venv/lib/python3.6/site-packages/django/urls/__pycache__/
venv/lib/python3.6/site-packages/django/utils/__pycache__/
venv/lib/python3.6/site-packages/django/utils/translation/__pycache__/
venv/lib/python3.6/site-packages/django/views/__pycache__/
venv/lib/python3.6/site-packages/django/views/decorators/__pycache__/
venv/lib/python3.6/site-packages/django/views/generic/__pycache__/
venv/lib/python3.6/site-packages/pytz/__pycache__/
