<!DOCTYPE html>
<html lang="zhCN">
<meta charset="UTF-8">
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


<script language="JavaScript">


</script>

<style type="text/css">

    .input_size {
        width: 300px;
    }

    .thin_line {
        height: 1px;
        width: 305px;
        margin: 5px 0 0 0;
        background-color: #9d9d9d;
    }


</style>


<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body class="container" style="margin:10%">

<div class="control-label">

    <label style="font-size: 24px">自动化测试平台

    </label>
    <hr class="thin_line"/>

</div>


<form style="margin: 10px 0 0 5px" action="." method="post">{% csrf_token %}
    <span class="help" style="margin: 5px 0 5px 0">{{ obj.error }}</span>
    <div class="form-group">
        <label for="div_username">账号</label>
        <div id="div_username">
            <input type="text" class="form-control input_size" id="username" placeholder="请输入账号!" name="username">


            <span class="error">

                    {{ obj }}





            </span>

        </div>
    </div>
    <div class="form-group">
        <label for="userpass">密码</label>
        <input type="password" class="form-control input_size" id="userpass" placeholder="请输入密码!" name="userpass">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="stay_login"> 保持登录
        </label>
    </div>
    <button type="submit" class="btn btn-default">登录</button>
</form>


</body>
</html>