<!DOCTYPE html>
<html lang="en">
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body class="container">

<div class="con"


<form class="form-horizontal" style="padding: 100px 100px 0 0">
    <fieldset>
        <div id="legend" class="">
            <legend class="">登录</legend>
        </div>
        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">账号</label>
            <input type="text" placeholder="请输入账号!" class="input-xlarge">
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">密码</label>
            <input type="text" placeholder="请输入密码!" class="input-xlarge">
        </div>


        <div class="control-group">
            <div class="controls">
                <!-- Multiple Checkboxes -->
                <label class="checkbox">
                    <input type="checkbox" value="保持登录">
                    保持登录
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary">登录</button>
                <button class="btn btn-info" style="margin-left: 20px">取消</button>
            </div>
        </div>

    </fieldset>
</form>


</body>
</html>